extends main

block content
    div(class="parent")
        h2 sign my guestbook!
        form(action="guestbook" method="post")
            label name:
            br
            input(type="text" name="name" required)
            br
            label email:
            br
            input(type="email" name="email")
            br      
            label website:
            br
            input(type="url" name="site")
            br
            label message:
            br
            textarea(name="message" required)
            input(type="submit" value="submit")
            br
            br
        div(class="scrolls")
            each entry in entries
                if entry.name
                    div(class="guestbook")
                        if entry.site
                            a(href="#{entry.site}") #{entry.name} on #{entry.ts.toDateString()}
                        else
                            span #{entry.name} on #{entry.ts.toDateString()}
                        p #{entry.message}
                        br
                        //- a(href="/guestbook/#{entry._id}") delete
                    br
                    br
